* {
  margin: 0;
  padding: 0;
}
.container {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  box-shadow: 5px 5px 5px grey;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: all 5s ;
  transform: rotate3d(0, 1, 0, 20deg);
  text-align: center;
}
.container span {
  font-size: 30px;
  text-decoration: dashed underline skyblue;
}
.container:hover {
  transform: rotate3d(0, 1, 0, 360deg);
}
.container .box,
.container .box1,
.container .box2,
.container .box3,
.container .box4,
.container .box5 {
  box-shadow: 5px 5px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  height: 200px;
  width: 200px;
  background-color: yellow;
  margin-bottom: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}
.container .box1 {
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 200px);
}
.container .box2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 100px) rotate3d(1, 0, 0, 90deg);
}
.container .box3 {
  width: 200px;
  height: 200px;
  background-color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(0, -50%, 100px) rotate3d(0, 1, 0, 90deg);
  opacity: 0.5;
}
.container .box4 {
  width: 200px;
  height: 200px;
  background-color: slateblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-100%, -50%, 100px) rotate3d(0, 1, 0, 90deg);
  opacity: 0.5;
}
.container .box5 {
  width: 200px;
  height: 200px;
  background-color: seagreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -100%, 100px) rotate3d(1, 0, 0, 90deg);
  opacity: 0.5;
}
